:root {
  --background: #494545;
  --font: #e9eaec;
  --primary: #e1341e;
  --secondary: #32bf5c;
  --tertiary: #ed901d;
  --quarternary: #1ecbe1;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-size: 2vw;
  color: var(--font);
  background-color: var(--background);
}

#logo {
  width: 3%;
}
