:root {
  --background: #494545;
  --font: #e9eaec;
  --primary: #e1341e;
  --secondary: #32bf5c;
  --tertiary: #ed901d;
  --quarternary: #1ecbe1;
}

body, button {
  font-family: "JetBrains Mono", monospace;
  font-size: 2vw;
  color: var(--font);
  background-color: var(--background);
}

#logo {
  width: 3%;
}

.pokemon-button {
  width: 10vw;
  height: 5vh;
  font-size: 1.5vw;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--font);
}
.pokemon-button:hover {
  border: 1px solid var(--secondary);
  border-radius: 5px;
}

ul.pokemon-list {
  list-style-type: none;
}


