:root {
    --background: #494545;
    --font: #E9EAEC;
    --primary: #E1341E;
    --secondary: #32BF5C;
    --tertiary: #ED901D;
    --quarternary: #1ecbe1;
}

body {
    font-family: 'JetBrains Mono', monospace;
    font-size: 2vw;
    color: var(--font);
    background-color: var(--background);
}

#logo {
    width: 3%;
}